sticky-header {
  height: 0;
}

.slideshow-text__wrapper > .banner__heading {
  text-transform: uppercase;
    font-size: 92px;
    font-weight: 900;
    color: #fff;
    width: 300px;
    line-height: 8rem;
}

.slideshow-text__wrapper > .banner__text {
  margin-top: 5rem;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  width: 60%;
  line-height: 4rem;
}

.slideshow-text__wrapper {
  padding-left: 50px;
}

.list-menu .header__active-menu-item {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}

.header__menu-item:hover span {
  text-decoration: none;
}

.header__icon > span {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

.header__icons-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header__icon {
  width: fit-content;
  margin-left: 2rem;
  text-decoration: none;
}

.header__icons {
  width: 100%;
}

a.header__icon.header__icon--account.link.focus-inset.small-hide {
  justify-content: flex-end;
}

.header__icon span {
  width: 50px;
}