sticky-header {
  height: 0;
}

.slideshow-text__wrapper > .banner__heading {
  text-transform: uppercase;
    font-size: 92px;
    font-weight: 900;
    color: #fff;
    width: 30%;
    line-height: 8rem;
}

.slideshow-text__wrapper > .banner__text {
  margin-top: 2rem;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    width: 75%;
    line-height: 4rem;
}