sticky-header {
  height: 0;
}

.slideshow-text__wrapper > .banner__heading {
  text-transform: uppercase;
    font-size: 92px;
    font-weight: 900;
    color: #fff;
    width: 30%;
    line-height: 8rem;
}

.slideshow-text__wrapper > .banner__text {
  margin-top: 2rem;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    width: 75%;
    line-height: 4rem;
}

.list-menu .header__active-menu-item {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header__menu-item:hover span {
  text-decoration: none;
}

.header__icon > span {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.header__icon {
  width: 100%;
  text-decoration: none;
}

.header__icons {
  width: 100%;
}

.header__icons .header__icon--cart {
  width: 20%;
}

a.header__icon.header__icon--account.link.focus-inset.small-hide {
  justify-content: flex-end;
}